/*************************
    Tailwind setup
**************************/

@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --blur-*: initial;
  --default-*: initial;
  --perspective-*: initial;
  --drop-*: initial;
  --animate-*: initial;
  --shadow-*: initial;
  --color-*: initial;
  --container-*: initial;
  --text-*: initial;
  --font-weight-*: initial;
  --tracking-*: initial;
  --leading-*: initial;
  --radius-*: initial;
  --inset-*: initial;
  --inset-shadow-*: initial;
  --ease-*: initial;
  --aspect-*: initial;
  --font-*: initial;
  --spacing-*: initial;

  --breakpoint-400px: 400px;
  --breakpoint-500px: 500px;
  --breakpoint-600px: 600px;
  --breakpoint-700px: 700px;
  --breakpoint-800px: 800px;
  --breakpoint-900px: 900px;
  --breakpoint-1000px: 1000px;
  --breakpoint-1100px: 1100px;
  --breakpoint-1200px: 1200px;
  --breakpoint-1300px: 1300px;
  --breakpoint-1400px: 1400px;
  --breakpoint-1500px: 1500px;
  --breakpoint-1600px: 1600px;
  --breakpoint-1700px: 1700px;
  --breakpoint-1800px: 1800px;
  --breakpoint-1900px: 1900px;
}

/*************************
    Custom styles
**************************/

@font-face {
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/sf_pro_300.woff2') format("woff2")
}

@font-face {
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/sf_pro_400.woff2') format("woff2")
}

@font-face {
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/sf_pro_500.woff2') format("woff2")
}

@font-face {
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/sf_pro_600.woff2') format("woff2")
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/bebas_neue.woff2') format("woff2")
}

body {
  font-family: 'SF Pro', sans-serif;
  color: #2C0815;
  @apply bg-cover bg-no-repeat bg-right-top;
}

.font-bebas {
  font-family: 'Bebas Neue', sans-serif;
}

.main {
  background-image: url('../img/bg-main@1x.jpg');
}

.telegram {
  background-image: url('../img/bg-telegram@1x.jpg');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .main {
    background-image: url(../img/bg-main@2x.jpg)
  }

  .bg-telegram {
    background-image: url(../img/bg-telegram@2x.jpg)
  }
}

.wrapper {
  @apply w-full 800px:w-4/5 800px:max-w-[1300px] mx-auto;
}


